* {
    margin: 0;
    padding: 0;
}

.fordesktop {
    /* height: 55vh; */
    display: none;
    width: 15vw;
    border-radius: 25px 0px 0px 25px;
}

.formobile {
    /* height: 55vh; */
    display: block;
    width: 85vw;
    border-radius: 15px 15px 0 0;
    /* height: 48vh; */
}

.contenttxt {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 0 15px 15px;
    width: 85vw;
    /* height: 48vh; */
}

.container {
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pheading {
    font-variant-caps: all-small-caps;
    font-family: 'Montserrat', sans-serif;
    padding: 3vh 4vw;
    font-weight: 400;
    color: #000;
    font-size: 18px;
    letter-spacing: 8px;
}

h1 {
    padding: 0vh 2vw 3vh 4vw;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: #000;
}

.destxt {
    padding: 0 2vw 3vh 4vw;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
}

.mainprice {
    padding: 0 2vw 2vh 4vw;
    font-size: 25px;
    color: #3d8168;
    font-weight: 700;
    display: inline-block;
    font-family: 'Fraunces', serif
}

.pricepre {
    display: inline-block;
    position: relative;
    bottom: 3px;
    text-decoration: line-through;
}

.fbutton {
    background-color: #3d8168;
    color: hsl(0, 0%, 100%);
    width: 83vw;
    margin: 4px 1vw 4px 1vw;
    height: 48px;
    /* font-family: fontAwesome,'Fraunces', serif; */
    font-family: fontAwesome, 'Montserrat', sans-serif;
    border-radius: 12px;
}